@using cloudscribe.Web.Navigation
@using Microsoft.Extensions.Localization
@using System.Text
@model NavigationViewModel
@* @inject  IStringLocalizer<PicuDrugsCore.MenuResources> localizer *@
@addTagHelper *, cloudscribe.Web.Navigation
@if (Model.HasVisibleChildren(Model.RootNode))
{
<ul class="nav navbar-nav mr-auto" role="menubar">
    <li role="presentation" cwn-data-attributes="@Model.RootNode.Value.DataAttributes" class='nav-item @Model.GetClass(Model.RootNode.Value)'><a class="nav-link" href="@Url.Content(Model.AdjustUrl(Model.RootNode))">@Html.Raw(Model.GetIcon(Model.RootNode.Value))@Model.AdjustText(Model.RootNode)</a></li>

    @foreach (var node in Model.RootNode.Children)
    {
        if (!Model.ShouldAllowView(node)) { continue; }
        if (Model.HasVisibleChildren(node))
        {
            string url = Url.Content(Model.AdjustUrl(node));
        <li role="presentation" class='@Model.GetClass(node.Value, "nav-item dropdown")' cwn-data-attributes="@node.Value.DataAttributes">
            <a class="nav-link dropdown-toggle" href="@(string.IsNullOrEmpty(url)?"#":url)">
                @Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)
            </a>
            @Model.UpdateTempNode(node)@Html.Partial("NavigationNodeChildDropdownPartial", Model)
        </li>
        }
        else
        {
            <li role="presentation" class='nav-item @Model.GetClass(node.Value)' cwn-data-attributes="@node.Value.DataAttributes">
                <a class="nav-link" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)</a>
            </li>
        }
    }
</ul>
}
