@* using PicuDrugsCore.Helpers *@
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - PicuDrugsCore</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/js/css/common.dev.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"  />
        @RenderSection("styles", required: false)
    </environment>
    <environment exclude="Development">
        <!--<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" /> -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>



    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Paed Drugs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapTopNavWithDropdowns", filterName = cloudscribe.Web.Navigation.NamedNavigationFilters.TopNav, startingNodeKey = "" })
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
        <hr />
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2018 - Starship PICU</span>
        </div>
    </footer>

    <environment include="Development">
        @* @await Html.WebpackScriptsAsync("page-default") *@
        <script src="~/js/common.bundle.js" asp-append-version="true"></script>
        @* <script src="~/js/commonAll.bundle.js" asp-append-version="true"></script> *@
        @*<script src="~/js/polyfills.bundle.js" asp-append-version="true"></script>*@
        @*<script src="~/js/bootstrap.bundle.js" asp-append-version="true"></script>*@
        @* @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/site.min.js") *@
    </environment>
    <environment exclude="Development">
        <script src="~/js/commonAll.bundle.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
