@using cloudscribe.Web.Navigation
@model NavigationViewModel
@* @inject  IStringLocalizer<PicuDrugsCore.MenuResources> localizer *@
@addTagHelper *, cloudscribe.Web.Navigation
@if ((Model.TempNode != null) && (Model.HasVisibleChildren(Model.TempNode)))
{
<ul class="dropdown-menu" role="menu">
    @foreach (var childNode in Model.TempNode.Children)
    {
        if (!Model.ShouldAllowView(childNode)) { continue; }

        if (childNode.Value.Text == "Separator")
        {
            <li class="dropdown-divider"></li>
            continue;
        }
        if (Model.HasVisibleChildren(childNode))
        {
            <li role="presentation" class='@Model.GetClass(childNode.Value, "dropdown")' cwn-data-attributes="@childNode.Value.DataAttributes">
                <a href="@Url.Content(Model.AdjustUrl(childNode))" class="dropdown-item dropdown-toggle">
                    @Html.Raw(Model.GetIcon(childNode.Value))@Model.AdjustText(childNode)
                </a>
                <ul class="dropdown-menu">
                    @Model.UpdateTempNode(childNode)@Html.Partial("NavigationNodeChildDropdownPartial", Model) @* recursion *@
                </ul>
            </li>
        }
        else
        {
            <li role="presentation" class='@Model.GetClass(childNode.Value,"dropdown")' cwn-data-attributes="@childNode.Value.DataAttributes">
                <a href="@Url.Content(Model.AdjustUrl(childNode))">
                    @Html.Raw(Model.GetIcon(childNode.Value))@Model.AdjustText(childNode)
                </a>
            </li>
        }
    }
</ul>
}
